.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.row:nth-child(1) {
  background-color: #4369b0;
}

.row:nth-child(2) {
  background-color: #3d60a4;
}

.row:nth-child(3) {
  background-color: #3d60a4;
}

.row:nth-child(4) {
  background-color: #4369b0;
}

.row:nth-child(5) {
  background-color: #4369b0;
}

.row:nth-child(6) {
  background-color: #3d60a4;
}

.row:nth-child(7) {
  background-color: #3d60a4;
}

.row:nth-child(8) {
  background-color: #4369b0;
}

.row:nth-child(9) {
  background-color: #4369b0;
}

.row:nth-child(10) {
  background-color: #3d60a4;
}

.row:nth-child(11) {
  background-color: #3d60a4;
}

.row:nth-child(12) {
  background-color: #4369b0;
}

.row:nth-child(13) {
  background-color: #4369b0;
}

.row:nth-child(14) {
  background-color: #3d60a4;
}

.row:nth-child(15) {
  background-color: #3d60a4;
}

.row:nth-child(16) {
  background-color: #4369b0;
}

.row:nth-child(17) {
  background-color: #4369b0;
}

.row:nth-child(18) {
  background-color: #3d60a4;
}

.row:nth-child(19) {
  background-color: #3d60a4;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.header {
  color: white;
  justify-content: center;
  align-items: flex-end;
  padding: 18px;
  background-color: #5687e3;
}

.header h2 {
  font-size: 24px;
  font-weight: 600;
}

.header span {
  font-size: 14px;
  font-weight: 600px;
}

.byRegion {
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: #35548B;
}
